body{
    margin: 20px 50px;
    padding:0;
    box-sizing: border-box;
    height: 100%;
    background-attachment:fixed;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#f7e6fa ;  

}

header{
    background-color: rgba(255, 180, 255, 0.979);
    border-radius: 10px;
    box-sizing: border-box;
    opacity: 0.8;
   
}

h1{
    color: rgb(48, 5, 97);

}

input{
    width: 300px;
}

button{
    background-color: lightpink;
    border-radius:4px;
    transition-duration: 0.3s;
}

button:hover{
    background-color: rgb(164, 100, 237);
}

button:active{
    transform: translateY(4px);
}



#lista-tarefas{
    display: flex;
    flex-direction: column;
    background-color:rgb(198, 152, 255); 
    color: rgb(0, 0, 0);
    opacity:0.7;
}




